@model ComputerModel

<div>
    <span>Name: </span>@Model.Name
</div>
<div>
    <span>Password: </span>@Model.Password
</div>
<div>
    <span>IP Address: </span>@Model.IPAddress
</div>
<div>
    <span>Location: </span>@Model.Location
</div>
<div>
    <span>OS: </span>@Model.OS
</div>
<div>
    <span>Description: </span>@Model.Description
</div>
<div>
    <span>Supported Monitor: </span>@Model.SupportedMonitors
</div>