@model List<Team>
@inject SignInManager<CustomIdentityUser> SignInMan
@inject UserManager<CustomIdentityUser> UserMan

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Club</th>
            <th class="w-75" scope="col"></th>
            <th scope="col">MP</th>
            <th scope="col">W</th>
            <th scope="col">D</th>
            <th scope="col">L</th>
            <th scope="col">GF</th>
            <th scope="col">GA</th>
            <th scope="col">GD</th>
            <th scope="col">Pts</th>
            @if (SignInMan.IsSignedIn(User))
            {
                if (UserMan.IsInRoleAsync(UserMan.FindByEmailAsync(User.Identity.Name).Result, "Admin").Result)
                {
                    <th scope="col"></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].Badge</td>
                <td>@Model[i].TeamName</td>
                <td>@Model[i].MatchesPlayed</td>
                <td>@Model[i].Wins</td>
                <td>@Model[i].Draws</td>
                <td>@Model[i].Loses</td>
                <td>@Model[i].GoalsFor</td>
                <td>@Model[i].GoalsAgainst</td>
                <td>@Model[i].GoalsDifference</td>
                <td>@Model[i].Points</td>
                @if (SignInMan.IsSignedIn(User))
                {
                    if (UserMan.IsInRoleAsync(UserMan.FindByEmailAsync(User.Identity.Name).Result, "Admin").Result)
                    {
                <td>
                    @Html.ActionLink("", "Index", "AddTeam", new { team = Model[i] }, new { @class = "btn btn-primary far fa-edit" })
                    <form method="post" asp-action="DeleteTeam" asp-controller="Standing">
                        @Html.AntiForgeryToken()
                        <input hidden asp-for="@Model[i].Id" value="@Model[i].Id" />
                        <button type="button" class="btn btn-danger far fa-trash-alt"></button>
                    </form>
                </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>